<a href="https://colab.research.google.com/github/RasagnadeviK/ML-Repo/blob/main/ML_lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import array as ar
ht=ar.array('f',[16.5,166,154,176,144])
print(ht)
print(ht[3])
print(ht[0])

value=ar.array('i',[5,2,7,1,34,54,22,7,87,2,53,22,0,11])
print(value[1:5])
print(value[7:])
print(value[:])
print(value[:-5])
print(value[-5:])
print(value[:-1])
print(value[-1:])

print(len(value))

array('f', [16.5, 166.0, 154.0, 176.0, 144.0])
176.0
16.5
array('i', [2, 7, 1, 34])
array('i', [7, 87, 2, 53, 22, 0, 11])
array('i', [5, 2, 7, 1, 34, 54, 22, 7, 87, 2, 53, 22, 0, 11])
array('i', [5, 2, 7, 1, 34, 54, 22, 7, 87])
array('i', [2, 53, 22, 0, 11])
array('i', [5, 2, 7, 1, 34, 54, 22, 7, 87, 2, 53, 22, 0])
array('i', [11])
14

In [ ]:
import array as ar
import numpy as np

ar1=ar.array('i',[3,5,1,7,0])
ar2=ar.array('i',[12,16,19,20])
add=ar.array('i')
add=ar1+ar2
print(add)
print(ar1+ar2)

marks=np.array([76,78,81,66,85])

meanmr=np.mean(marks)
medmr=np.median(marks)
minmr=np.min(marks)
maxmr=np.max(marks)
print('mean:',meanmr,'\nmedian:',medmr,'\nMin:',minmr,'\nMax:',maxmr)

array('i', [3, 5, 1, 7, 0, 12, 16, 19, 20])
array('i', [3, 5, 1, 7, 0, 12, 16, 19, 20])

In [ ]:
nm='Rasagna'
print(nm)
msg='I love me'
print(msg)
msg="Could you find a way to let me down slowly A little sympathy I hope you can you show me"
print(msg)
s1="Hello, World!"
s2="Let me down slowly"
s3="Hello, World!"
print(s1==s2)
print(s1==s3)

Rasagna
I love me
Could you find a way to let me down slowly A little sympathy I hope you can you show me
False
True

In [ ]:
import pandas as pd

dtdict={
    'ID':[1,2,3,4,5],
    'Gender':['Male','Female','Female','Male','Female'],
    'Age':[12,34,23,45,66],
    'Inc':[10000,120300,240024,274687,9493588],
    'Scr':[20,20,30,40,90]
}
data=pd.DataFrame(dtdict)
data.to_csv("DataID.csv")
print(data)
data['Phnm']=[12345,23456,34567,56789,67890]
data['Place']=["vja",'hyd','vja','sec','ten']
print(data)
data.to_csv("DataID.csv")
#data=[6,'Male',22,29922,30,1231223,'raj']
data.update({6,'Male',22,29922,30,1231223,'raj'})
#data.to_csv("DataID.csv")
print(data)

   ID  Gender  Age      Inc  Scr
0   1    Male   12    10000   20
1   2  Female   34   120300   20
2   3  Female   23   240024   30
3   4    Male   45   274687   40
4   5  Female   66  9493588   90
   ID  Gender  Age      Inc  Scr   Phnm Place
0   1    Male   12    10000   20  12345   vja
1   2  Female   34   120300   20  23456   hyd
2   3  Female   23   240024   30  34567   vja
3   4    Male   45   274687   40  56789   sec
4   5  Female   66  9493588   90  67890   ten
   ID  Gender  Age      Inc  Scr   Phnm Place
0   1    Male   12    10000   20  12345   vja
1   2  Female   34   120300   20  23456   hyd
2   3  Female   23   240024   30  34567   vja
3   4    Male   45   274687   40  56789   sec
4   5  Female   66  9493588   90  67890   ten